@font-face {font-family: 'Avenir LT Std 95 Black';font-style: normal;font-weight: normal;src: local('Avenir LT Std 95 Black'), url('../font/AvenirLTStd-Black.woff') format('woff');}
@font-face {font-family: 'Avenir LT Std 45 Book';font-style: normal;font-weight: normal;src: local('Avenir LT Std 45 Book'), url('../font/AvenirLTStd-Book.woff') format('woff');}
@font-face {font-family: 'Avenir LT Std 85 Heavy';font-style: normal;font-weight: normal;src: local('Avenir LT Std 85 Heavy'), url('../font/AvenirLTStd-Heavy.woff') format('woff');}
@font-face {font-family: 'Avenir LT Std 35 Light';font-style: normal;font-weight: normal;src: local('Avenir LT Std 35 Light'), url('../font/AvenirLTStd-Light.woff') format('woff');}
@font-face {font-family: 'Avenir LT Std 65 Medium';font-style: normal;font-weight: normal;src: local('Avenir LT Std 65 Medium'), url('../font/AvenirLTStd-Medium.woff') format('woff');}
@font-face {font-family: 'Avenir LT Std 55 Roman';font-style: normal;font-weight: normal;src: local('Avenir LT Std 55 Roman'), url('../font/AvenirLTStd-Roman.woff') format('woff');}
@font-face {font-family: 'Avenir LT Std 95 Black Oblique';font-style: normal;font-weight: normal;src: local('Avenir LT Std 95 Black Oblique'), url('../font/AvenirLTStd-BlackOblique.woff') format('woff');}@font-face {font-family: 'Avenir LT Std 45 Book Oblique';font-style: normal;font-weight: normal;src: local('Avenir LT Std 45 Book Oblique'), url('AvenirLTStd-BookOblique.woff') format('woff');}@font-face {font-family: 'Avenir LT Std 85 Heavy Oblique';font-style: normal;font-weight: normal;src: local('Avenir LT Std 85 Heavy Oblique'), url('AvenirLTStd-HeavyOblique.woff') format('woff');}@font-face {font-family: 'Avenir LT Std 35 Light Oblique';font-style: normal;font-weight: normal;src: local('Avenir LT Std 35 Light Oblique'), url('AvenirLTStd-LightOblique.woff') format('woff');}@font-face {font-family: 'Avenir LT Std 65 Medium Oblique';font-style: normal;font-weight: normal;src: local('Avenir LT Std 65 Medium Oblique'), url('AvenirLTStd-MediumOblique.woff') format('woff');}@font-face {font-family: 'Avenir LT Std 55 Oblique';font-style: normal;font-weight: normal;src: local('Avenir LT Std 55 Oblique'), url('AvenirLTStd-Oblique.woff') format('woff');}


header{
    height: 135px;
    background-color: #67BEE9;
    position: relative;
    background-position: 0;
    background-repeat: no-repeat;
    overflow:hidden;
}


header h1.logo{
  height: 78px;
  float: left;
  width: 145px;
  margin-top:-13rem;
  background-image: url(../img/logo.png);
  position:relative;
  z-index:2;
}

.hotel-button:before{
    border-width: 21px;
    top: -2px;
    border-color: transparent transparent transparent #ffea00;
    right: -43px;
}
.hotel-button:after{
  border-width: 19px;
    top: 0;
    border-color: transparent transparent transparent #ffb900;
    right: -38px;
}
.hotel-button__text{
      position: relative;
    padding-right: 27px;
    text-align: right;
    line-height: 26px;
}
.hotel-button__text:before{
    background-image: url(https://images.habbo.com/habbo-web/america/de/assets/images/sprite.fd8a8fba.png);
    background-position: -415px -387px;
    width: 21px;
    height: 26px;
    content: '';
    display: block;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    right: 0;
}

.hotel{
  background-image: url(../img/hotel.png);
  background-repeat: no-repeat;
  height: 14rem;
  width: 47rem;
  opacity: 0.5;
  margin-left: -22rem;
  position: relative;
  z-index: 2;
}

nav#menu{
  background-color: #fff;
  height: 55px;
  font-family:'Avenir LT Std 85 Heavy';
  clear: both;
  position: relative;
}

nav#menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#menu ul li{
  display: inline-block;
  height: 55px;
  padding: 0 20px 0 20px;
  float: left;
}

nav#menu ul li a{
  color: #292b2c;
  text-decoration: none;
  font-size: 17px;
  line-height: 55px;
  font-weight: 400;
}

nav#menu ul li.active a{
  color: #fff;
}

nav#menu ul li.active{
  background-color: #292b2c;
}

nav#menu ul li.me{
  height: 55px;
    background-position: 8px -14px;
}

#subnav{
  font-family:'Avenir LT Std 85 Heavy';
  background-color: #292b2c;
  height: 30px;
  border-radius:0 0 5px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

#subnav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#subnav ul li{
  padding: 0 20px 0 20px;
  display: inline-block;
  float: left;
}

.clear{
  clear: both;
}

#subnav ul li a{
  color: #949595;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;
}

#subnav ul li a.active{
  color: #fff;
}

#subnav ul li:after{
    content: '|';
    padding-left: 40px;
    color: #444;
    font-size: 12px;
}

#subnav ul li:after:last-child{
  content: '';
}

.clear{
  clear: both;
}

body{
  background-color:#E6E7E7;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  font-family: 'Avenir LT Std 85 Heavy';
}

#content{
  width: 900px;
  margin: auto;
  position: relative;
}

#left{
  width: 650px;
  margin: auto;
  position: relative;
  float: left;
}

#right{
  width: 250px;
  margin: auto;
  position: relative;
  float: right;
}

#content_sub{
  width: 900px;
  margin: auto;
}

.photos__header__image{
  background:url(../img/teaser_stories_channels.png) center center no-repeat;
  height: 295px;
  width: 243px;
  margin-top: 1rem;
}

.hotel-button{
        line-height: 1.2;
    text-align: center;
    background-color: #ffb900;
    border-color: #ffea00;
    color: #000;
    border-radius: 5px 5px 5px 5px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    margin-bottom: 4px;
    text-transform: uppercase;
    filter: drop-shadow(-1px 4px 0px rgba(0, 0, 0, .3));
    box-shadow: none;
    position: relative;
    margin-right: 20px;
    margin-top: -3px;
    padding: 6px 12px 6px 7px;
}

.hotel-button:hover{
    background-color: #ffd400;
    border-color: #fffd70;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.hotel-button:active{
    transform: translate(0,2px);
    filter: drop-shadow(-1px 2px 0 rgba(0, 0, 0, .3));
    box-shadow: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #f89400;
    border-color: #ffce37;
}

.photos__header__title{
  margin-top: -11rem;
  margin-left: 17rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}

.user--menu{
  padding: 0 12px;
  position: absolute;
  margin-top: -11rem;
  width: 19%;
  z-index: 201;
  right: 2rem;
}

.user--wrapper{
  background: #02353c;
  font-size: 16px;
  box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
  border: 2px solid #267b91;
  border-radius: 3px;
  padding: 5px 39px 5px 12px;
}

.user--login{
  padding: 0 12px;
  position: absolute;
  margin-top: -11rem;
  width: 21%;
  z-index: 201;
  right: 2rem;
}

/** MODAL **/
#connexion{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#connexion:target{
    display: block;
}
.popup_block{
    background: #fff;
    padding: 20px;
    position: relative;
    margin: 10% auto;
    width: 30%;
    box-shadow: 0px 0px 20px #000;
}
img.btn_close {
    float: right;
    margin: -55px -55px 0 0;
}
.form--popup{
  margin-left: 32%;
}
.connexion--btn{
  margin-left: 32%;
}
.connexion--go{
    color: white;
    background-color: green;
    border: none;
    margin-top: 1rem;
    width: 48%;
    height: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
}
.popup__login{
    padding: 3px;
    margin-bottom: 1rem;
    border-radius: 3px;
    border-style: none;
    border: 3px solid #d0d0d0;
}
.mdp--oublie{
    margin-left: 46%;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}
.popup__login:focus{
  border:3px solid #5d5d5d;
  border-color:transparent;
}
/** **/

.login--wrapper{
  background: #02353c;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
  border: 2px solid #267b91;
  border-radius: 3px;
  padding: 5px 39px 5px 12px;
}

.login{
  padding: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.user--name{
  position: relative;
  padding-left: 24px;
  line-height: 22px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  text-transform: none;
  color: #FFFFFF;
  font-family: 'Avenir LT Std 85 Heavy';
}

.user--habbo{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
  border: 2px solid #267b91;
  background: #02353c;
  margin-top: -3rem;
  margin-left: 9rem;
}

.user--avatar{
  margin-top: -0.4rem;
  margin-left: -0.1rem;
}

#article {
  box-shadow: 3px 3px rgba(0,0,0,.3);
  background-position: -6rem;
  height: 18rem;
}

#sub--article__l{
  float: left;
  width: 50%;
}

#sub--article__r{
  float: right;
  width: 50%;
}

#mini--article{
  height: 7rem;
  width: 8rem;
  margin-top: 2rem;
  background-position: 13rem -4rem;
  box-shadow: 3px 3px rgba(0,0,0,.3);
}

#mini--room{
  height: 7rem;
  width: 7rem;
  margin-top: 7rem;
  box-shadow: 3px 3px rgba(0,0,0,.3);
}

.room--proprio{
  height:50px;
  width:50px;
  margin-top: 1rem;
  border: 1px solid #444;
  background-color: white;
  border-radius: 50px;
}

.proprio--name{
  margin-top: -2.3rem;
  margin-left: 4rem;
}

#mini--infos{
  margin-left: 9rem;
  width: 11rem;
  height: 8rem;
}

#mini--infos--total{
  margin-left: 9rem;
  width: 506px;
  height: 8rem;
}

.news__lien{
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.news__date{
  display: inline;
  font-size: 11px;
  line-height: 1.4;
  color: #999;
  font-style: italic;
}

.news__date:not(:last-child):after{
  content: ' | ';
  font-style: normal;
}

.news__tags{
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  display: inline;
}

.news__title{
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 22px;
}

.news__summary{
  font-size: 14px;
}

#header__article{
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.article--tags__btn{
    font-size: 14px;
    background-color: #292b2c;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    line-height: 2rem;
}

.article--tags__btn:hover{
  background-color: #444;
}
.mini--article__go-l{
  float: left;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2rem;
}

.mini--article__go-r{
  float: right;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2rem;
}

#habbo--profile{
    margin-top: 2rem;
    height: 14rem;
    background-color: grey;
    padding-left: 3rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 4;
    position: relative;
    overflow: hidden;
}

#profile--avatar{
    height: 90px;
    margin-left: 4rem;
    margin-top: 3.5rem;
    width: 90px;
    border-radius: 50px;
    background-color: white;
    overflow: hidden;
}

#habbo--go{
    width: 100%;
    height: 3rem;
    border-style: none;
    background-color: green;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

::-webkit-scrollbar
{
width:5px;
height:5px;
background-color:none;
}
::-webkit-scrollbar-track
{
background-color:none;

}
::-webkit-scrollbar-thumb
{
background-color:#333333;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
}
::-webkit-scrollbar:hover
{
width:7px;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}